.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }
  
  .nav {
    display: flex;
    justify-content: space-around;
  }
  
  .btn1 {
    border-radius: 10px;
    border-color: gray;
    background: white;
    border-width: 1px;
    color: #525150;
    padding: 1px 10px 1px 10px;
  }
  .section1 {
    background-image: url(./assets/Hero-bg.png);
    display: block;
    justify-content: center;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 240px;
    padding-top: 10px;
  }
  
  .section1-text {
    display: block;
    text-align: center;
    width: 998px;
  }
  
  .section1-h1 {
    color: black;
    font-weight: 900;
    font-size: 48px;
    margin: 2px;
  }
  
  .section1-h3 {
    margin: 2px;
    color: #525150;
    font-weight: 100;
  }
  
  .btn2 {
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 0px;
    padding: 2px 5px 2px 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    font-stretch: expanded;
  }
  .section2-1 {
    display: flex;
    justify-content: space-between;
    width: 800px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    background-color: white;
  }
  
  .section2-text {
    margin-left: 30px;
    margin-top: 30px;
    color: #525150;
    width: 300px;
    vertical-align: baseline;
  }
  
  .main2 {
    margin-top: 100px;
    padding-top: 30px;
    width: 1024px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #faf8f8;
    padding-bottom: 30px;
    border-radius: 30px;
  }
  
  .btn3h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #525150;
  }
  
  .btn3 {
    background-color: white;
    border-color: #c9c6c3;
  }
  
  .why-web-dev {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .why-web-h4 {
    color: #525150;
    font-weight: 200;
    font-size: medium;
  }
  
  .why-web-h1 {
    font-weight: 900;
  }
  
  .section2-2 {
    display: flex;
    justify-content: space-between;
    width: 800px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    background-color: white;
    margin-top: 20px;
  }
  
  .img3 {
    margin-left: 10px;
  }
  
  .section3-text {
    margin-right: 300px;
    margin-top: 30px;
    color: #525150;
    /* width: 300px; */
    vertical-align: baseline;
  }
  
  .section2-3 {
    display: flex;
    justify-content: space-between;
    width: 800px;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    background-color: white;
    margin-top: 20px;
  }
  
  .section4-text {
    margin-left: 30px;
    margin-top: 30px;
    color: #525150;
    width: 300px;
    vertical-align: baseline;
  }
  
  .img2{
      width: 240px;
  
  }
  
  .section3{
    margin-top: 30px;
    width: 1024px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section3-text{
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.section3-text-h1{
    color: black;
    font-size: xx-large;
}

.section3-text-h3{
    color: rgb(168, 168, 168);
    font-size: medium;
}


.video{
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
  border: black;
}

.video iframe{
  width: 950px; 
  height: 500px; 
  border: 25px solid rgba(253, 253, 253, 0.2); 
  border-radius: 10px; 
  margin-top: 10px;
}


/* 4th commit */


/* 5th commit */

.section3-grid{
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    margin-bottom: 20px;
}

.gridcolumn1{
    width: 340px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffe7e1;
    border-radius: 20px;
}

.column1{
    width: 250px;
    padding: 20px 20px 20px 20px;
    margin-inline: auto;
}

.column1-img{
    display: block;
    text-align: left;
}

/* .column1h1{
    display: flex;
    align-items: start;
} */

.column1h4{
    text-decoration: underline;
}

.gridcolumn2{
    width: 340px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #aac7ff;
    border-radius: 20px;
}

.gridcolumn3{
    width: 340px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #fffec6;
    border-radius: 20px;
}


